.main-nav.admin-nav {
    background-color: #000;
}
.main-nav.admin-nav .navbar button{
    height: 60px;
    padding: 20px 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff !important;
    background-color: transparent !important;
    border: 0 !important;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-weight: 200;
}