@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>Loading...</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfEoGLHGEftuEm-nEPucfFNld3Nu-JReU"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
