<template>
    <div>
        <div v-if="route" class="routes-info-container">
            <route-info-component>
                <template slot="route">
                    <h1> {{ route.name }} </h1>
                </template>
            </route-info-component>
        </div>
        <div class="route-map-container">
            <map-component
                markers="route.stops"
            ></map-component>
        </div>
    </div>
</template>

<style src="./single-route.css" />
<script src="./single-route.ts"></script>