/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    background-color: #00a99d;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 -5px 15px 10px rgba(0,0,0,0.1);
}
.main-nav .navbar img{
    width: 100%;
    max-width: 70px;
    margin: 0 auto;
}
.main-nav .navbar{
    text-align: center;
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
}
.main-nav .navbar a{
    height: 100%;
    float: left;
    height: 60px;
    padding: 20px 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-weight: 200;
}
.main-nav .navbar-header {
    float: none;
}
.main-nav .navbar a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px) {

}
@media (max-width: 739px) {
    .navbar-options {
        display: none;
    }
}
