<template>
    <div>
        <!-- Stop Blade -->
        <div v-if="stopResult !== null"  class="info-container" v-bind:class="computedStopActive">
            <admin-stop-info-component 
                v-bind:stopDefault="stopResult"
                v-bind:isOptionalComponent="isStopCreateActive"
                v-bind:isOptionalComponentEdit="isStopEditActive"

                @closeEdit="toggleStopEditComponent"
                @close="toggleStopCreateComponent">
            </admin-stop-info-component>
        </div>

        <!-- Route Blade -->
        <div v-if="routeResult !== null" class="info-container" v-bind:class="{ 'second': isRouteEditActive, 'hide-container': !isRouteEditActive }">
            <admin-route-info-component
                v-bind:routeDefault="routeResult"
                v-bind:isOptionalComponent="isRouteEditActive"
                v-bind:isButtonActive="!isStopCreateActive"
                
                @close="toggleRouteInfoComponent"
                @open="toggleStopCreateComponent">
            </admin-route-info-component>
        </div>

        <!-- Bus Blade -->
        <div v-if="busResult !== null" class="info-container" v-bind:class="{ 'second': isBusEditActive, 'hide-container': !isBusEditActive }">
            <admin-bus-info-component
                v-bind:bus="busResult"
                v-bind:isOptionalComponent="isBusEditActive"

                @close="toggleBusInfoComponent">
            </admin-bus-info-component>
        </div>
        
        <!-- Dashboard Blade -->
        <div class="info-container">
            <admin-dashboard-info-component 
                @resultEmitted="editResult">
            </admin-dashboard-info-component>
        </div>

        <!-- Map -->
        <div class="map-container" v-bind:class="computedEditActive">
            <map-component 
                v-bind:isMarkerActive="computedStop"
                @addMarker="receivePosition">
            </map-component>
        </div>
    </div>
</template>
<style src="./admin-dashboard.css"/>
<script src="./admin-dashboard.ts"></script>