<template>
    <div v-if="route">
        <div class="route-info">
            <slot name="route"></slot>
            <h2>Guadalajara</h2>
        </div>
        <ul  v-if="route.stops" v-for="(stop, index) in route.stops">
            <li class="station-current" v-if="stop.name === currentStop.name">
                {{ stop.name }}
                <p v-if="index !== lastStop" class="trace-pipe">|</p>
            </li>
            <li class="station-next" v-else-if="index > currentStopIndex">
                {{ stop.name }}
                <p v-if="index !== lastStop" class="trace-pipe">|</p>
            </li>
            <li class="station-prev" v-else>
                {{ stop.name }}
                <p v-if="index !== lastStop" class="trace-pipe">|</p>
            </li>
        </ul>
    </div>
</template>

<script src="./route-info.ts"></script>