<template>
    <div>
        <div class="home-header-container">
            <div class="home-header-image"></div>
        </div>
        <div class="home-container simple-container">
            <search-component findRoutes="true" findStops="true" placeholder="Ejemplo: 629 B, La Minerva">
                <template slot="title">
                        <h1>¿Qué <span class="title-green">ruta</span> o <span class="title-red">parada</span> estás buscando?</h1>
                </template>
                <template slot="content">
                        <p>¿No encuentras la ruta que necesitas? <a href="/routes">Ve el mapa de rutas.</a></p>
                </template>
            </search-component>
        </div>
    </div>
</template>

<style src="./home.css"/>