<template>
    <div>
        <div class="main-header-container">
            <div class="main-header-image"></div>
        </div>
        <div class="simple-container">
            <div class="main-search-container">
                <h1>¿Qué <span class="title-green">ruta</span> o <span class="title-red">parada</span> estás buscando?</h1>
                <input type="text" placeholder="La Minvera">
                <p>¿No encuentras la ruta que necesitas? <a href="/rutas">Ve el mapa de rutas.</a></p>
            </div>
        </div>
    </div>
</template>

<style src="./home.css"/>