<template>
    <div class="search-container">
        <slot name="title"></slot>
        <input
            v-model.trim="searchInput"
            v-on:keyup="search(searchInput)"
            v-bind:placeholder="placeholder"
            type="text"
        >
        <div class="search-results">
            <ul>
                <li v-for="result in searchResults">
                    <span v-on:click="onResultClicked(result)"><b>{{ getResultType(result.type) }}</b> {{ result.name }}</span>
                    <button v-on:click="onResultDelete(result)" v-if="hasAuth">×</button>
                </li>
            </ul>
        </div>
        <slot name="content"></slot>
    </div>
</template>
<script src="./search.ts"></script>