<template>
    <div>
        <div class="info-title">
            <h1>¡Bienvenido!</h1>
            <h2>Administrador</h2>
        </div>
        <div class="info-content">
            <div class="dashboard-options">
                <div class="dashboard-option red">
                    <h3>Rutas</h3>
                    <search-component findRoutes="true" placeholder="Buscar ruta para editarla o borrarla..."></search-component>
                    <a href="./admin/route/create">Agregar una ruta ›</a>
                </div>
                <div class="dashboard-option green">
                    <h3>Paradas</h3>
                    <search-component findStops="true" placeholder="Buscar parada para editarla o borrarla..."></search-component>
                    <a href="./admin/stop/create">Agregar un parada ›</a>
                </div>
                <div class="dashboard-option blue">
                    <h3>Camiones</h3>
                    <search-component findBuses="true" placeholder="Buscar camión para editarlo o borrarlo..."></search-component>
                    <a href="./admin/bus/create">Agregar un camión ›</a>
                </div>
            </div>
        </div>
    </div>
</template>
<style src="./admin-dashboard-info.css"/>
<script src="./admin-dashboard-info.ts"></script>